top-ten {
  display: inline-block;
  width: 100%; }
  top-ten h2 {
    display: block;
    width: 100%;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: "Open Sans", sans-serif !important;
    font-weight: 200 !important;
    font-size: 40px !important; }
  top-ten ul li {
    font-family: "Open Sans", sans-serif !important;
    font-weight: 200 !important;
    font-size: 20px;
    margin-bottom: 7px; }
